.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.loader {
  position:relative;
  left:320px;
  border: 7px solid #f3f3f3;
  border-top: 7px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#movie-show {
  background-color:#e3e7ea;
}

#movie-show p {
  margin: 7px 0px 0px 3px;
}

#search-button {
  position: relative;
  top:-4px;
}

#input {
  width:400px;
}

.page {
  position:relative;
  left: 20px;
}

.buttons {
  width: 1200px;
  position: relative;
  left: 120px;
}

.no-show {
  position: relative;
  left: 275px;
}
.short-fat {
  width:800px;
  height:60px;
  border-radius:5px;
}
.movie-facts {
  font-size: 12px;
}
.btn-space {
    margin: 5px 0 0 10px;
}

.app {
  background-color: #D8BFD8;
}

html {
  background-color: #D8BFD8;
  width:1000px;
}

div {
  margin: 6px 0px 4px 0px;
}

form {
  position: relative;
  left: 200px;
  margin:10px;
}

ul {
  margin: -40px 0px 10px 0px;
}

#movie-show:hover {
  background-color:#e3e7eaec;
  border-color: darkgray;
  width:802px;
  height:61px;
}